<launch>
  <node name="pub_1_twist" pkg="ejercicio2_pkg" type="pub_1_twist.py"/>  
  <node name="sub_1_pub_twist" pkg="ejercicio2_pkg" type="sub_1_pub_twist.py"/>
  <node name="sub_1_point" pkg="ejercicio2_pkg" type="sub_1_point.py" output="screen"/>
  <node name="sub_2_point" pkg="ejercicio2_pkg" type="sub_2_point.py" output="screen"/>
</launch>
